body, html {
  height: 100%;
  background-color: #00204E;
  color: #164374;
}

header {
    height: 10%;
    border:1px solid white;
}
header .logo {
    background-color: rgba(255,255,255,0.1);
}


footer {
  position: fixed;
  background-color: rgba(255,255,255,0.2);
  color: rgba(0,0,0,0.3);
  padding: 0 2px 0 2px;
  right: 0;
  bottom: 0;
  line-height: 16px;
  font-size: 16px;
}

section.content {
    height: 70%;
}
section.bottom {
    height: 20%;
    background-color: rgba(255,255,255,0.2);

}





/* float */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.center {
    margin: 0 auto;
}


/* colors */
.violet {
  background-color: #3f2860;
}
.lime {
  background-color: #90c5a9;
}
.dark-cyan {
  background-color: #7a9a95;
}
.orange {
  background-color: #ef6d3b;
}
.soft-orange {
  background-color: #fa8b60
}
